<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite" parallel="classes">
<listeners>
    <listener class-name="base.TestListeners"/>
</listeners>
    <test name="Regression" preserve-order="true">
        <!--intentionally commented browser, so we can fetch the value from mvn parameter-->
        <parameter name="browser" value="chrome"/>
        <parameter name="url" value="https://www.saucedemo.com/"/>
        <classes>
            <class name="pom.tc.LoginTest"/>
            <class name="pom.tc.LoginGetItemsTest"/>
        </classes>
    </test>
</suite>